<mat-card class="mat-elevation-z3">

    <mat-card-title>Atualiza Produto</mat-card-title>
    <form>

        <mat-form-field appearance="fill" class="full-width ">
            <mat-label>Nome</mat-label>
            <input type="text" matInput [(ngModel)]="product.nome" name="nome">
        </mat-form-field>

    </form>
    <form>

        <mat-form-field appearance="fill" class="full-width ">
            <mat-label>Preço</mat-label>
            <input type="number" matInput [value]="123 | currency: 'BRL'" [(ngModel)]="product.price" name="price">
        </mat-form-field>

    </form>

    <mat-card-actions>
        <button (click)="cancel()" mat-raised-button>Cancelar</button>
        <button (click)="salvar()" mat-raised-button color="primary">Salvar</button>
    </mat-card-actions>

</mat-card>