/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.violeta {
    color: #8a2ce2;
}

.blue {
    color: #dc143c;
}

.v-middle {
    vertical-align: middle;
}

.full-width {
    width: 100%;
}